.S-menu-wrap{
    display: flex;
    margin-bottom: 7rem;
}
.S-menu-left{
    flex: 1;
}
.S-menu-right{
    flex: 1;
}
.S-menu-left>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.S-menu-left>ul>li{
    list-style: none;
}
.S-menu-right>ul>li{
    list-style: none;
}
.S-menu-right>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.S-content-f{
    display: flex;
    align-items: center;
}
.s-btn{
    background-color: #B9FF66;
    color:#000000;
    font-size: 1.6rem;
    font-weight: 700;
    border: 2px solid #B9FF66 ;
}

/* responsive css */
@media screen and (max-width:576px) {
    .S-menu-wrap{
        display:block;
    }
    .S-content-f{
        display: block;
        text-align: center;
    }
    .S-content-f>button{
        margin-bottom: 3rem;
    }

}