.t-box{
    border: 2px solid #191A23;
    box-shadow: 0 0.5rem 0.1rem rgba(0,0,0,10);
    position: relative;
    padding: 2rem;
}
.t-details>p:nth-child(1),
.t-details>p:nth-child(2){
    margin-bottom: 0rem;
    margin-left: 3rem;
    font-size: 1.6rem;
}
.t-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.t-btn{
    text-align: right;
}
@media screen and (max-width:576px) {
    .t-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 3rem;
    }
    .t-btn{
        text-align: center;
    }
}
.t-box{
    border-radius: 2rem;
}
.t-content{
    display: flex;
    align-items: flex-end;
    
    
}
.t-box .social-i{
    position: absolute;
    top:10%;
    right:2%;
}
.t-box>hr{
    height: .2rem;
    background-color:#000000;

}