
.navbar-nav a{
    color: black;
    font-family: "My Custom fonts";
    font-size: 1.6rem;
}

.navbar-nav a:nth-child(6){
    border: 0.2rem solid #000000;
    border-radius: 1rem;
    width: 14.7rem;
    
}

.NavBar{
    background-color: white;
    margin-top:3rem;
}

.nav-right{
    justify-content: flex-end;
}
nav{
    background-color: #0872b9;
    height: 5rem;
    display: flex;
    align-items: center;
}
.Fast-service{
    margin-bottom: 0px;
    font-weight: bolder;
}
.li-flex{
    display: flex;
    margin-bottom: 0px;
    list-style: none;

}
