.testimonial-swiper .swiper {
    background-color: black;
    border-radius: 3rem;
    width: 100%;
}
.testimonial-swiper .swiper-slide .t-inner {
   border: .2rem solid gray;
   padding: 4rem;
   height: 100%;
   width: 100%;
   border-radius: 5rem;
}
.tringle{
    border-top: 0;
    border: left width / 2px;
    border: right width /2px;
}