.case .swiper{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.swiper-slide{
    width: 100%;
    padding: 5rem;
    position: relative;
}
.after{
    content: " ";
    background-color: white;
    height: 15rem;
    width: .3rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}
.swiper-icon{
    display: flex;
    align-items: center;
}
.swiper-icon>svg{
    color: #B9FF66;
}
@media screen and (min-width:992px) {
    .mobile{
        display: none;
    }
    .case .swiper{
        background-color: #191A23;
        border-radius: 5rem;
        
    }
}
@media screen and (max-width:576px) {
    .desktop{
        display: none;
    }
    .case .swiper{
        
        width: 100%;
    }
    .swiper-slide{
        overflow: visible!important;
        background-color: #191A23;
        border-radius: 5rem;
    }
    .swiper-wrapper{
        column-gap: 3rem;
    }
}
