.accordion{
    border: 1px solid #191A23;
    border-radius: 45px;
    --bs-accordion-bg:transparent !important;
    --bs-accordion-border-color: transparent !important;
   
}

.accordion-collapse .collapse .show{
    background-color: blue;
}

.accordion-header>button{
    font-size: 3rem;
}
.accordion-button::after{
    background-image: url(../../Img/add.png)!important;
    width: 5rem!important;
    height: 5rem!important;
    background-size: 100%;

}
.accordion-button:not(.collapsed)::after{
    background-image: url(../../Img/minus.png)!important;
    width: 5rem!important;
    height: 5rem!important;
    background-size: 100%;
    
}

.accordion-button:not(.collapsed).accordion-button{
    border-bottom: 2px solid black;
}
.accordion-button:not(.collapsed).accordion{
    background-color: red;
}

.accordion-button:not(.collapsed){
    color: black!important;
}
.accordion-body{
    height: 25vh;
    font-size: 1.6rem;
}
.accordion-item{
    background-color: transparent;
}
.accordion-button:not(.collapsed){
    background-color: transparent !important;
}
*, ::after, ::before {
    box-sizing: none!important;
}